.container {
  height: 100vh;
  width: 50vw;
  border: 1px solid black;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 0 20px;

  text-align: center;
}

.addTaskContainer{
  padding: 10px 0;
  /* border: 1px solid skyblue; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addTaskContainer input,
.addTaskContainer button{
  margin: 10px 0;
  width: 100%;
  height: 20px;
}

.addTaskContainer button{
  background-color: skyblue;
  border-radius: 5px;
}

.addTaskContainer input{
  outline: none;
  border: 1px solid skyblue;
  padding: 10px;
}

.toDoList{
  width: 100%;
}

.filterButtons{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
}

.filterButtons > button{
  width: 30%;
  height: 20px;
  background-color: skyblue;
  border-radius: 5px;
}

.tasks{
  /* border: 1px solid black; */

  /* display: flex;
  justify-content: center; */
}

.taskList{
  border: 0.5px solid burlywood;
  list-style-type: '';

  margin: auto;
}

.deleteButtons{
  position: absolute;
  bottom: 5%;

  display: flex;
  width: 90%;
  justify-content: space-between;
}

.deleteButtons button{
  width: 45%;
  height: 20px;

  background-color: skyblue;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
